/*  your css code here. If applicable */
#maindiv{
	background-color: rgb(135, 206, 235);
	height:580px;
}
#para1{
	background-color: black;
	color: white;
}
#para3{
	color: red;
}
.white{
	background-color: white;
	width: 50%;
	padding: 10px;
	font-size: 22px;
}
.gray{
	background-color: gray;
	width: 50%;
	padding: 10px;
}
.pink{
	background-color: pink;
	width: 50%;
	padding: 10px;
}